python-dotenv
requests
streamlit
langchain-community
langchain-core
langchain-huggingface
langchain-nvidia-ai-endpoints
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
faiss-cpu
pypdf
sentence-transformers
duckduckgo-search
ddgs
fastapi
uvicorn[standard]
python-multipart
boto3
